<% layout('./partials/boilerplate') %>
<form action="/create" method="post" enctype="multipart/form-data" class="ui form">
    <div class="field">
        <label>Title</label>
        <input name="title" type="text" placeholder="Title" />
    </div>
    <div class="field">
        <label>Description</label>
        <textarea rows="4" name="description" placeholder="Description"></textarea>
    </div>
    <div class="field">
        <label>Image</label>
        <input name="image" type="text" placeholder="Image URL" id="url_text"/>
    </div>

    <button class="ui button" type="button" id="upload_widget_opener">Upload with Widget</button>
    <button class="ui primary button" type="submit">Post</button>
</form>

<script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {

        cloudinary.openUploadWidget({ cloud_name: 'dadhuuta7', upload_preset: 'nwgdqrng'},
                function(error, result) {
                    console.log(error, result);
                    // Push URL into text input
                    document.getElementById('url_text').value = result[0].url;
                });

    }, false);
</script>
